@media only screen and (min-width: 600px) {
  
  .header-info, .footer-info, .wish-icon-grid, .stats, .linkButton {
    max-width: 50rem;
    margin: 0 auto;
  }

  .wish-tree-icon {
    display: block;
    a {
      p {
        text-align: left;
        margin: 0 auto;
        margin-left: 2rem;
        margin-right: 2rem;
      }
    }
  }

  .no-spoiler {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .yes-spoiler {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .karma-titles {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .most-common-rarity {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .most-common {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .lucien-chart, .victor-chart, .gavin-chart, .kiro-chart {
    max-width: 20rem;
  }

}
