body {
  margin: 0;
  padding: 0;
  background: #eeaeca;
  background: linear-gradient(35deg, #eeaeca 0%, #94bbe9 100%);
}

header {
  margin: 0;
  background: #eeaeca;
  padding: 1rem;
}

header h1,
header h2 {
  margin: 0;
}

header h2 {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

main {
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: 'Open Sans', sans-serif;
}

main img {
  width: 100%;
}

.linkButton {
  text-decoration: none;
  color: black;
  border: none;
  border-radius: 10px;
  padding: 1rem;
  background-color: white;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

footer {
  background: linear-gradient(185deg, #94bbe9 0%, #eeaeca 100%);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.wish-tree-icon {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wish-tree-icon img {
  margin: 0 auto;
}

.wish-tree-icon a {
  text-align: center;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

.wish-tree-icon a p {
  margin: 0;
}

.spoiler {
  -webkit-filter: blur(0.5rem);
          filter: blur(0.5rem);
  pointer-events: none;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: hotpink;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px hotpink;
          box-shadow: 0 0 1px hotpink;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.spoiler-toggle {
  margin-left: 1rem;
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.switch {
  margin-left: 1rem;
}

.king-highlight {
  color: white;
}

.sr-highlight {
  color: yellow;
}

.ssr-highlight {
  color: blue;
}

.sp-highlight {
  color: red;
}

.stats p {
  margin-left: 1rem;
}

.clear {
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.karma-titles {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 1rem;
  text-align: center;
}

.most-common-rarity {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 1rem;
  text-align: center;
}

.most-common {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 1rem;
  text-align: center;
}
/*# sourceMappingURL=small.css.map */