// font-family: 'EB Garamond', serif;
// font-family: 'Open Sans', sans-serif;

$opgray: rgba(128, 128, 128, 0.4);
$opgray2: rgba(128, 128, 128, 0.8);

// Karma Attribute Colors
$decision: #9ab7d5;
$creativity: #f8b290;
$affinity: #fdabc1;
$execution: #99bd99;

#rect1 {
    fill: url(#Gradient1);
}

.stop1 {
    stop-color: #dbbe9f;
}

.stop3 {
    stop-color: #a78c70;
}

body {
    background: rgb(238, 174, 202);
    background: linear-gradient(35deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.app-container {
    overflow: hidden;
    // background-color: #90bee4;
    // background-image: url("assets/code-of-passionate-love-home.jpg");
    // background-repeat: no-repeat;
    background-size: 100%;
    margin: 0 auto;
}

// Back and items
.items-header-container {
    display: grid;
}

.back-button {
    background-color: #ef87a3;
    border: 2px solid #f2a7bc;
    border-radius: 100%;

    svg {
        fill: white;
    }
}

// Items
.items-bar-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.5rem;
    margin-right: 0.5rem;
}

.items-bar {
    font-family: 'Open Sans', sans-serif;
    background-color: $opgray2;
    // opacity: 0.6;
    transform: skew(-30deg);
    border-top-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.5rem;
    margin-top: 0.2rem;

    div {
        color: white;
        transform: skew(30deg);
    }

    img {
        width: 2rem;
        margin-top: 0.1rem;
    }
}

.img-icon-container {
    transform: skew(0deg);
}

.add-btn {
    margin-top: 0.1rem;
    margin-bottom: 0.2rem;
    transform: skew(30deg);
    background-image: linear-gradient(to right, white, lightgrey);
    border-radius: 100%;
    border: none;
    box-shadow: 1px 1px 3px grey;
}

.items-bar-container {
    grid-column-start: 3;
    grid-column-end: 9;
}

.item {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-action-buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.redeem-btn {
    background-color: #a02a45;
    border: 2px solid #b25d60;
    font-family: 'EB Garamond', serif;
    color: #dfab92;
    display: flex;
    align-items: center;

    // transform: rotateZ(180deg)
    transform: rotateZ(45deg);

    .redeem-txt {
        transform: rotateZ(315deg);
    }

    img {
        transform: rotateZ(340deg);
    }   
}

.drop-btn {
    background-color: #f89e9b;
    border: 2px solid #eeb6b0;
    border-radius: 100%;
    color: white;
    font-family: 'EB Garamond', serif;
}

.mission-btn {
    background-color: #c44e7f;
    border: 2px solid #d0638e;
    border-radius: 100%;
    color: white;
    font-family: 'EB Garamond', serif;
}

.feedback-btn {
    background-color: #c9a467;
    border: 2px solid #d2ae78;
    border-radius: 100%;
    color: white;
    font-family: 'EB Garamond', serif;
}

.record-btn {
    background-color: #7575b6;
    border: 2px solid #8280b9;
    border-radius: 100%;
    color: white;
    font-family: 'EB Garamond', serif;
}

.third-row {
    display: grid;
    // grid-template-rows: 1fr 1fr;
}

.preview-btn {
    background-color: #d5b48f;
    border: 2px solid #e7c9a7;
    border-radius: 100%;
    font-family: 'EB Garamond', serif;
    padding: 0;
    grid-column-start: 3;
    grid-column-end: 5;
    color: white;
    z-index: 1;
}

.limited-container {
    grid-column-start: 5;
    grid-column-end: 9;
    color: white;
    background-color: $opgray;
    font-family: 'Open Sans', sans-serif;

    // filter:blur(4px);
    // box-shadow: 5px 0 2px gray;
    // opacity: 0.5;
    p {
        margin: 0;
    }
}

#gwc-button {
    transform: skew(0deg);
}

.forth-row {
    display: grid;
}

.wish-container {
    grid-column-start: 3;
    grid-column-end: 7;
    // display: flex;
    color: white;
    background-color: $opgray;
    font-family: 'Open Sans', sans-serif;

    // filter:blur(4px);
    // box-shadow: 5px 0 2px gray;
    // opacity: 0.5;
    p {
        margin: 0;
    }
}

.free-container {
    display: grid;
}

.free-text-container {
    font-family: 'Open Sans', sans-serif;
    grid-column-start: 2;
    grid-column-end: 5;
}

.buy-containers {
    display: grid;
}

.pull-1-container {
    grid-column-start: 3;
    grid-column-end: 8;
}

.pull-10-container {
    grid-column-start: 10;
    grid-column-end: 15;
}

//  .pull1
.pull-button {
    color: white;
    // opacity: 0.9;
}

.pull1 {
    // background-color: #93b4c6;
    // background-color: rgba(147, 180, 198, 0.7);
    background: rgb(140,141,219);
    background: linear-gradient(45deg, rgba(140,141,219,1) 0%, rgba(118,156,199,1) 100%);
    // border: 2px solid #aecada;
    border: 2px solid #84a9d4;
    font-family: 'EB Garamond', serif;
}

.pull10 {
    // background-color: #e99ab9;
    background: rgb(219,170,154);
    background: linear-gradient(160deg, rgba(219,170,154,1) 0%, rgba(188,0,122,1) 100%);
    // border: 2px solid #edb8cc;
    border: 2px solid #d692a9;
    font-family: 'EB Garamond', serif;
}

.sr-ensured {
    position: relative;
}

.cost {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-family: 'Open Sans', sans-serif;
    background-color: $opgray;
    // opacity: 0.5;
}

.purchase-limit-container {
    font-family: 'Open Sans', sans-serif;
    display: grid;
}

.text-container {
    // background-color: white;
    opacity: 0.5;
    color: white;
    grid-column-start: 4;
    grid-column-end: 9;
    text-align: right;

    p {
        margin: 0;
    }
}

.resultsContainer {
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;

    // -webkit-animation:spin 0.5s linear;
    // -moz-animation:spin 0.5s linear;
    // animation:spin 0.5s linear;
}

// #karmaContainer {
//     // rotate: 45deg;
//     transition-duration: 10s;
// }

// @-moz-keyframes spin { 
//     100% { -moz-transform: rotate(10deg); } 
// }
// @-webkit-keyframes spin { 
//     100% { -webkit-transform: rotate(30deg); } 
// }
// @keyframes spin { 
//     100% { 
//         -webkit-transform: rotate(90deg); 
//         transform:rotate(90deg); 
//     } 
// }

.karmaHeader {
    text-align: center;
    transform: rotateZ(-4deg);
    // background-color: pink;
    color: white;
}

#karmaHeaderText {
    background: rgb(238,231,225);
    background: linear-gradient(90deg, rgba(238,231,225,0.8) 0%, rgba(228,156,181,0.8) 100%);
    // border-top: 1px solid white;
    // border-bottom: 1px solid white;
    // opacity: 0.7;
}

.karma-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.karmaImgContainer {
    transform: rotateZ(-4deg);
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 5;
    overflow: hidden;
}

.karma-rarity {
    grid-row-start: 1;
    grid-column-start: 1;
    z-index: 2;
}

.karma-img {
    width: 100%;
}

.star-container {
    // grid-column-start: 3;
    // grid-column-end: 4;
    // grid-row-start: 3;
    // grid-row-end: 4;
    // z-index: 2;
    color: white;
    background-color: $opgray;
    // transform: rotateZ(-40deg);
}

.bottomRowKarma {
    display: flex;
    justify-content: space-between;
}

.shareContainer {
    color: white;
    background: rgb(236,117,156);
    background: linear-gradient(180deg, rgba(236,117,156,1) 0%, rgba(232,172,172,1) 100%);
    border-radius: 100%;
    font-family: 'EB Garamond', serif;
    border: none;
    z-index: 2;
    border: 1px solid #f2b6c6;
}

.skipContainer {
    color: white;
    background: #ee8d9f;
    border: 1px solid #f2b6c6;
    font-family: 'EB Garamond', serif;
    border: none;
    display: flex;

    // align-items: center;
    svg {
        fill: white;
        // min-width: 1rem;
    }
}

// .star-img

.karmaTitle {
    color: white;
    background-color: $opgray;
    transform: rotateZ(-4deg);
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.starOverflow {
    overflow: hidden;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    z-index: 2;
    transform: rotateZ(-4deg);
    
    // background-color: rebeccapurple;
    // opacity: 0.5;
    // transform: rotateZ(-40deg);
}

#starContainer {
    transform: rotateZ(-36deg);
}



// Summary Styles

.level {
    text-align: center;
    color: white;
}

.summaryBox {
    background-color: rgba(255, 255, 255, 0.8);
    height: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    // padding: 1rem;
}

.summaryKarmaBox {
    border: 2px solid white;
    overflow: hidden;
}

.creativity {
    border-color: $creativity;
    background-color: $creativity;
}
.decision {
    border-color: $decision;
    background-color: $decision;
}
.affinity {
    border-color: $affinity;
    background-color: $affinity;
}
.execution {
    border-color: $execution;
    background-color: $execution;
}

.summaryKarmaBox {
    display: grid;
    // grid-template-columns: 2rem 1fr;
    // grid-template-rows: 1.5rem 1fr 2rem;
}

.LVtext {
 color: white;
}

// .LV {
//     font-size: 10px;
// }

// .num {
//     font-size: 15px;
// }

.summaryKarma {
    // .summaryKarmaImg {
    //     width: 7rem;
    // }
    // width: 7rem;
    margin: 0 auto;
}

.summaryRarity {
    grid-column-start: 1;
    grid-row-start: 1;
    z-index: 2;
    // width: 2rem;
    // margin-left: 0.15rem;
    // margin-top: 0.15rem;
}

.summaryStars {
    // margin: 0;
    // width: 2.5rem;
    transform: rotateZ(190deg);
    // margin-left: 3.5rem;
}

.summaryKarmaImg {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
}

.summaryTitle {
    // font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    // margin-top: 0.1rem;
}

.starBox {
    // margin: 0;
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    transform: rotateZ(-10deg);
    // margin-bottom: -1rem;
    // margin-top: 1.3em;
    // margin-right: -1rem;
}

.LVtext {
    // margin: 0;
    transform: rotateZ(10deg);
    // margin-top: -2rem;
    // margin-left: 6.15rem;
}

.LV {
    // margin: 0;
    // font-size: 6px;
    // margin-top: 1rem;
    z-index: 5;
}

.num {
    // margin: 0;
    // font-size: 12px;
    z-index: 5;
    // margin-left: 0.1rem;
}


.dropInfo {
    // height: 100%;
    padding: 1rem;
    background-color: white;
    height: 100rem;
    font-size: medium;
    td {
        border: 1px solid;
        padding: 0.3rem;
    }
    .back-button {
        width: 2.5rem;
        height: 2.5rem;
        padding: 0.5rem;
        svg {
            width: 2.5rem;
            color: white;
            margin: 0;
            margin-top: -0.2rem;
            // width: 2rem;
        }
    }
}

.record-svg {
    svg {
        width: 1.5rem;
        color: white;
        fill: white;
        margin: 0;
        margin-top: -0.2rem;
        // width: 2rem;
    }
}

.redeem-number {
    background-color: rgba(108, 56, 49, 0.8);

}

.redeem-number {
    display: flex;
    color: white;
    z-index: 2;
    // text-align: center;
    // flex-direction: ;
}

.left-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.event-limited-btn {
    background-color: #780c38;
    border: 2px solid #d78b84;
    color: #d78b84;
    font-family: 'Open Sans', sans-serif;
}

.event-wish-btn {
    background-color: #413b65;
    border: 2px solid #d78b84;
    color: #d78b84;
    font-family: 'Open Sans', sans-serif;
}

// // Preview
// .previewBox {
//     background-color: white;
//     width: 95%;
//     margin: 0 auto;
//     height: 40rem;
// }

.right-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.event-info-button {
    border-radius: 100%;
    border: 1px solid #d78b84;
    color: white;
    font-family: 'EB Garamond', serif;
    background-color: #9e3152;
}

.event-time {
    // background-color: white;
    font-family: 'Open Sans', sans-serif;
}

.event-info-row {
    display: flex;
    background-color: rgba(255, 255, 255, 0.8);
    align-items: center;
}

.name-box {
    background-color: white;
}

.announce-container {
    display: flex;
}

.event-share-button {
    background-color: #9e3152;
    color: #dfab92;
    transform: rotateZ(90deg);
    display: flex;
    align-items: center;
}

.right4row {
    // background-color: #413b65;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
}

.eventGwc, .eventLimitedgwc, .right4row2, .forth-row {
    display: flex;
}

#Limitedgwc-button {
    transform: skew(0deg);
}

.video-background-container {
    // position: relative;
    position: absolute;
    top: 0;
    z-index: -1;
    overflow: hidden;
}